body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(0, 1, 43);
    height: 100vh;
}

#msg{
    color: rgb(0, 255, 0);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}